@import "./variables";
@import "./reset";
body
{
    counter-reset: song-counter;
    font-family:Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
    
    margin: 0px;
    padding:0px;
    min-width: 700px;
    
    background-color: $color-background;
    
    header
    {
        width: 100%;
        nav
        {
            div
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                
                padding-top: 10px;
                margin-bottom: 10px;
                
                
                &#logo
                {
                    padding-bottom: 10px;
                    background-color: $color-primary;
                    
                }
                &#styles
                {
                    div
                    {
                        width: 100px;
                        height: 100px;
                        margin-right: 15px;
                        margin-left: 15px;
                        background-size: cover;
                        
                        &#rock
                        {
                            background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/366962d5733a4aee8bee4a136c239d47.jpg");
                            filter: sepia(90%);
                        }
                        &#hiphop
                        {
                            background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/51810a59cb17449bb2d6b8b62d63ce78.jpg");
                            filter: contrast(200%);
                        }
                        &#indie
                        {
                            background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/c825233e09af4641a5ce7b6ece883aae.jpg");
                            filter: grayscale(50%);
                        }
                        &#jazz
                        {
                            background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/c0a9af93c8c843afb43cd6dc24b0bbf3.jpg");
                            filter:hue-rotate(90deg);
                        }
                        &#reggae
                        {
                            background-image: url("https://lastfm.freetls.fastly.net/i/u/avatar300s/94428d295a60403e9327cbfb86e2fbf6.jpg");
                            filter: saturate(10%);
                        }
                    }
                }
                &#lists
                {
                    padding-bottom: 10px;
                }
                
                .btn
                {
                    font-size: 16px;
                    font-weight: bold;
                    border: none;
                    background-color: transparent;
                    outline: none;
                    
                    &-image
                    {
                        color:$color-background;
                        &:hover
                        {
                            text-decoration: underline;
                        }
                    }
                    &-nav
                    {
                        margin-left: 5px;
                        margin-right: 5px;
                        &:focus
                        {
                            color: $color-focus-menu;
                        }
                        
                    }
                }
            }
        }
    }
    
    main
    {
        padding-left: 10px;
        ul
        {
            list-style: none;
            width: 100%;
            padding: 0%;
            li
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-left: -10px;
                padding-left: 10px;
                width: 100%;
                height: 40px;
                
                &:nth-of-type(odd)
                {
                    background-color: $color-list-odd;
                }

                div
                {
                    display: flex;
                    align-items: center;
                    
                    height: 100%;
                    width: 40%;
                    
                    &:first-child
                    {
                        width: 500px;
                        justify-content: flex-start;
                        
                        div:first-child
                        {
                            display: flex;
                            justify-content: flex-start;
                            width: auto;
                            p
                            {
                                margin-left: 5px;
                            }
                        }
                        div:last-child
                        {
                            width: auto;
                        }
                    }
                    &:last-child
                    {
                        padding-right: 10px;
                        width: 200px;
                        justify-content: flex-end;
                    }
                    a.groupName:before
                    {
                        padding-left: 5px;
                        counter-increment: song-counter;
                        content: counter(song-counter) ". ";
                    }

                    a, a:visited
                    {
                        margin-right: 30px;
                        text-decoration: inherit;
                        color: inherit;
                    }
                    p
                    {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

